@model Model.Producer

<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Tạo mới</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <input type="hidden" id="avatar" value="@Model.avatar" />
                <img src="@Model.avatar" title="Cập nhật" id="show-img" onclick="selectFile()" />
            </div>
            <div class="col-md-8">
                <div class="mb-2">
                    <input type="text" placeholder="Tên nhà sản xuất" value="@Model.name" id="producer-name" maxlength="300" class="form-control" />
                </div>
                <div class="mb-2">
                    <input type="text" placeholder="Địa chỉ" maxlength="200" value="@Model.address" id="address" class="form-control" />
                </div>
                <div class="mb-2">
                    <input type="text" placeholder="Email" maxlength="200" value="@Model.email" id="email" class="form-control" />
                </div>
                <div class="mb-2">
                    <textarea type="text" placeholder="Website" maxlength="1000" id="website" rows="1" class="form-control textarea-resize-none">@Model.website</textarea>
                </div>
                <div class="mb-2">
                    <input type="number" placeholder="Số điện thoại" maxlength="11" id="phone" value="@Model.phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold mr-2">Trạng thái:</label>
                    <span>
                        @if (Model.status == 1)
                        {
                            <div class="radio inlineblock m-r-20">
                                <input type="radio" name="status" id="sTrue" class="with-gap" value="1" checked>
                                <label for="sTrue">Hiển thị</label>
                            </div>
                            <div class="radio inlineblock">
                                <input type="radio" name="status" id="sFalse" class="with-gap" value="2">
                                <label for="sFalse">Bỏ hiển thị</label>
                            </div>
                        }
                        else
                        {
                            <div class="radio inlineblock m-r-20">
                                <input type="radio" name="status" id="sTrue" class="with-gap" value="1">
                                <label for="sTrue">Hiển thị</label>
                            </div>
                            <div class="radio inlineblock">
                                <input type="radio" name="status" id="sFalse" class="with-gap" value="2" checked>
                                <label for="sFalse">Bỏ hiển thị</label>
                            </div>
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-success" onclick="editProducer(@Model.ID)">Lưu thay đổi</button>
</div>