@model Model.Category

<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Thông tin chi tiết</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs p-0 mb-3 nav-tabs-success" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#details"> <i class="fas fa-info-circle"></i> Chi tiết </a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#seo"> <i class="fas fa-globe"></i> SEO </a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#system"> <i class="fab fa-windows"></i> Hệ thống </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane in active" id="details">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-2">
                            <label class="font-weight-bold mr-1">Tên thương hiệu:</label>
                            <span>@Model.name</span>
                        </div>
                        <div class="form-group mb-2">
                            <label class="font-weight-bold mr-1">Slug:</label>
                            <span>@Model.slug</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="seo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-2">
                            <label class="font-weight-bold mr-1">Meta Title:</label>
                            <span>@Model.MetaTitle</span>
                        </div>
                        <div class="form-group mb-2">
                            <label class="font-weight-bold mr-1">Meta Keywords:</label>
                            <span>@Model.MetaKeyWord</span>
                        </div>
                        <div class="form-group mb-2">
                            <label class="font-weight-bold mr-1">Metadescription:</label>
                            <span>@Model.MetaDescription</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="system">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="font-weight-bold mr-2">Người tạo:</label>
                            <span>@Model.createBy</span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold mr-2">Ngày tạo:</label>
                            <span>@Model.createDate.Value.ToString("HH:mm, dd-MM-yyyy")</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="font-weight-bold mr-2">Người sửa:</label>
                            <span>@Model.updateBy</span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold mr-2">Ngày sửa:</label>
                            <span>@Model.updateDate.Value.ToString("HH:mm, dd-MM-yyyy")</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label class="font-weight-bold mr-2">Trạng thái:</label>
                        <span>
                            @if (Model.status == 1)
                            {
                                <text>Đang hiển thị</text>
                            }
                            else
                            {
                                <text>Đang ẩn</text>
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
</div>